html {
  font-size: $font-size;
  font-family: $font-family;
  background: $background-color;
  color: $font-color;
  line-height: 1.4;
}

body {
  margin: auto;
  text-align: center;
  max-width: $page-width;
}

h1 {
  margin: 0 0 2rem;
}

.image {
  display: inline-block;
  height: 100px;
  width: 100px;
  background-image: url('~assets/example.png');
  background-size: cover;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.myButton {
  box-shadow:inset 0px -3px 7px 0px #29bbff;
  background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
  background-color:#2dabf9;
  border-radius:3px;
  border:1px solid #0b0e07;
  display:block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  padding:9px 23px;
  text-decoration:none;
  text-shadow:0px 1px 0px #263666;
  margin-bottom: 20px;
}
.myButton:hover {
  background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
  background-color:#0688fa;
}
.myButton:active {
  position:relative;
  top:1px;
}
.form-fields {
  display: flex;
  flex-wrap: nowrap;
}
.form-fields input {
  margin-right: 20px;
  height: 37px;
  width: 500px;
}